/*html{
    font-size: 62.5%;
}*/
body{
    font-family:$text-font;
    font-size:1em;
    line-height:2em;
    
    background-image:url('../images/bg.gif') #FFF repeat-x;
    background-repeat: repeat-x;
    }
    //
    
    //margin: 0;
    //padding: 0;
    
    //color: $text-color;
    //background-color: $background;



//main                        {width:960px;margin:0 auto;padding:0 10px;}
/*.container{
    width: 80%;
    margin: 0 auto;
}*/