@mixin backColor($color) {
    background-color:$color;
    height: 190px;
    width: 50%;
    float:left;margin:0;
    }
@mixin clearfix{
    &:before,&:after{
        content: '';
        display: table;
    }
    &::after{float: both;}
}

@mixin break($length) {
    @media (max-width:$length )
    {
        @content;
    }
    
}

/*@mixin bacKImage($image){
    background: url($image);;
}*/