//declaring variables
$background: grey;
$color:#666;
$yellow:beige;
$text-color:black;
$text-red:red;
$text-white:white;
$grey-bar:#F5F6F6;
$text-black:black;
$foot-color:#30353D;
$height:90px;
$head-color:#E65C43;


$text-font :'Roboto', sans-serif;